.app--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e5e5e5;
  overflow: hidden;
}

.register--container {
  display: inline-block;
  width: 48%;
  height: 36rem;
  padding: 5rem 5rem;
}

.title {
  position: relative;
  height: 9rem;
  width: 20rem;
  margin: -1.7rem 0 0.7rem;
  border-radius: nullpx;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 47px;
  color: rgba(0, 0, 0, 0.91);
}

.conteiner--inputs {
  display: flex;
  flex-direction: column;
  position: relative;
}

.principal {
  display: block;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 0.8rem;
  line-height: 1.1rem;
  margin-top: 0.5rem;
}

input {
  width: 16rem;
  height: 2rem;
  background: #f0e8ea;
  border-radius: 5px;
  margin-top: 0.4rem;
  border: none;
}

.principal.left {
  position: relative;
  bottom: 4rem;
  left: 11rem;
}

.register--input.serasa {
  width: 8rem;
}

.register--input.salario {
  position: absolute;
  width: 8rem;
  left: 9rem;
  bottom: 2rem;
  top: -2.4rem;
}

.line-input {
  width: 7.8rem;
  background-color: #ff0066;
}

.line-input.left {
  position: relative;
  left: 9rem;
  top: -1.5rem;
  background-color: #ff0066;
}

.line {
  position: absolute;
  width: 15.8rem;
  background-color: #ff0066;
}

.container--button {
  position: absolute;
  width: 11rem;
  height: 1.8rem;
  background: rgba(255, 0, 102, 0.83);
  border-radius: 1.25rem;
  border: none;
  text-transform: uppercase;
  color: #fff;
  margin: 1.3rem 0 0 2.4rem;
}

.container--img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vetorthree {
  position: relative;
  max-width: 11%;
  margin-top: 12rem;
  margin-right: 8rem;
}

.paragrafh-img {
  width: 17rem;
  height: 2rem;
  position: relative;
  margin-top: 12rem;
  right: 7rem;
}



/* Media */


@media (max-width:1660) {
  .register--container {
    display: inline-block;
    width: 48%;
    height: 36rem;
    padding: 2rem 2rem;
  }
}